{% extends "base.html" %}


{% block content %}

<div id="djaodjin-chat-admin">
  <div class="djaodjin-chat-active_list" style="height: 150px; overflow-y:scroll;border: solid gray 1px;">
  </div>
  <hr/>
  <div>
    <span class="djaodjin-chat-chat_title" ></span>
    <span class="djaodjin-chat-chat_claim"></span>
  </div>
  <button class="djaodjin-chat-claim">Claim</button>
  <button class="djaodjin-chat-unclaim">Unclaim</button>
  <div class="djaodjin-chat-messages" ></div>
  <input type="text" class="djaodjin-chat-message" ></input>
</div>

<script type="text/javascript" charset="utf-8" src="/static/js/reconnecting-socket.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-chat-api.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-chat-admin.js"></script>
<script type="text/javascript">
  $('#djaodjin-chat-admin').djchatadmin();
</script>

{% endblock %}
